{#
  kitCommand: Rating

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/blue/css/jRating.jquery.css" media="screen, projection" />
{% endblock stylesheet %}
{% block jquery %}
  {{ parent() }}
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/blue/jquery/jRating.jquery.js"></script>
{% endblock jquery %}
{% block content %}
  <div class="rating-container">
    <div class="rating-stars rating-{{ guid }}" 
         data-average="{{ average }}" 
         data-id="{{ identifier_id }}" 
         title="{{ 'Votes: %count% - Average: %average%'|trans({'%count%':count,'%average%':average|number_format(2,',','.')}) }}"></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
{% endblock %}
{% block footer %}
  {#% set iframe_add_height = 0 %#}
  <script type="text/javascript">
    if (typeof 'jQuery' !== 'undefined') {
      $(document).ready(function() {
        $(".rating-{{ guid }}").jRating({
          bigStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/blue/css/icons/stars.png',
          smallStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/blue/css/icons/small.png',
          phpPath: '{{ FRAMEWORK_URL }}/collection/rating/response',
          type:'{{ size }}',
          length : {{ stars }},
          step: {%if step %}true{% else %}false{% endif %},
          rateMax: {{ maximum_rate }},
          showRateInfo: false,
          isDisabled: {% if is_disabled %}true{% else %}false{% endif %},
          
        });
      });
    }
  </script>
  {% set iframe_add_height = 0 %}
  {{ parent() }}
{% endblock footer %}
