{#
  CommandCollection: Comments

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/CommandCollection
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if app.translator.locale == 'de' %}
  {# GERMAN Version #}
  <p>Hallo {{ comment.contact_nick_name }},</p>
  <p>der Kommentar "{{ comment.comment_headline }}" den Sie auf <a href="{{ comment.comment_url }}">{{ comment.comment_url }}</a> veröffentlichen wollten, wurde durch den Administrator <b>zurückgewiesen</b>.</p>
{% else %}
  {# ENGLISH Version #}
  <p>Hello {{ comment.contact_nick_name }},</p>
  <p>the comment "{{ comment.comment_headline }}" you want to publish at <a href="{{ comment.comment_url }}">{{ comment.comment_url }}</a> is <b>rejected</b> by the administrator.</p>
{% endif %}
