{#
  CommandCollection: Comments

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/CommandCollection
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if app.translator.locale == 'de' %}
  {# GERMAN Version #}
  <p>Hallo {{ subscriber.contact_nick_name }},</p>
  <p>auf <a href="{{ comment.comment_url }}">{{ comment.comment_url }}</a> wurde ein neue Kommentar veröffentlicht:</p>
  <h2>{{ comment.comment_headline }}</h2>
  <div>{{ comment.comment_content }}</div>
  <p>Falls Sie keine weiteren Benachrichtigungen über neue Kommentare erhalten möchten, klicken Sie bitte auf diesen Link:</p>
  <p><a href="{{ link_unsubscribe }}">Keine weiteren Benachrichtigungen</a></p>
{% else %}
  {# ENGLISH Version #}
  <p>Hello {{ subscriber.contact_nick_name }},</p>
  <p>a new comment has published at <a href="{{ comment.comment_url }}">{{ comment.comment_url }}</a>:</p>
  <h2>{{ comment.comment_headline }}</h2>
  <div>{{ comment.comment_content }}</div>
  <p>If you want to switch off the information about new comments, please use this link:</p>
  <p><a href="{{ link_unsubscribe }}">Unsubscribe new comments</a></p>
{% endif %}
