{#
  CommandCollection: Comments

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/CommandCollection
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/bootstrap/iframe.body.twig') %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/CommandCollection/Template/Comments/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/comments.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/CommandCollection/Template/Comments/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/comments.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/CommandCollection/Template/Comments/default/css/comments.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock %}
{% block jquery %}
  {{ parent() }}
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/CKEditor/Source/ckeditor.js"></script>
  <script type="text/javascript" >
    function createNewComment() {
      document.getElementById('comment-form').scrollIntoView(true);
    }
    function jumpToComment(comment_id) {
      document.getElementById(comment_id).scrollIntoView(true);
    }
  </script>  
{% endblock jquery %}
  
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div id="thread_start"></div>
  <div class="thread">
    <ul class="media-list">
      {% for comment in thread %}
        {# loop through the comments in this thread #}
        <!-- Comment ID: {{ comment.main.comment_id }} [{{ comment.main.contact_nick_name }}]-->
        <li class="media" id="comment_id_{{ comment.main.comment_id }}">
          {% if parameter.gravatar and configuration.gravatar.comment.main.enabled %}
            <div class="pull-left">
              <img class="media-object" src="{{ comment.main.gravatar|raw }}" width="{{ configuration.gravatar.comment.main.size }}" height="{{ configuration.gravatar.comment.main.size }}" alt="{{ comment.main.contact_nick_name }}" title="{{ comment.main.contact_nick_name }}" />
            </div>
          {% endif %}
          <div class="media-body">
            <h4 class="media-heading">{{ comment.main.comment_headline }}</h4>
            {{ comment.main.comment_content }}
            {% if parameter.rating and configuration.rating.comment.main.enabled %}
              <div class="rating-container pull-left">
                <div class="rating-stars rating_{{ comment.main.rating.identifier_id }}" 
                     data-average="{{ comment.main.rating.average }}" 
                     data-id="{{ comment.main.rating.identifier_id }}" 
                     title="{{ 'Votes: %count% - Average: %average%'|trans({'%count%':comment.main.rating.count,'%average%':comment.main.rating.average|number_format(2,'DECIMAL_SEPARATOR'|trans,'THOUSAND_SEPARATOR'|trans)}) }}"></div>
              </div>
            {% endif %}
            <div class="nick-name">
              {% if comment.main.contact_url|length > 0 %}<a href="{{ comment.main.contact_url }}" target="_blank">{{ comment.main.contact_nick_name }}</a>{% else %}{{ comment.main.contact_nick_name }}{% endif %} - {{ comment.main.comment_timestamp|date('DATETIME_FORMAT'|trans) }}
            </div>
            
            {# exists replies to this comment? #}
            {% if comment.sub|length > 0 %}
              <ul class="media-list">
                {% for reply in comment.sub %}
                  {# loop through the replies #}
                  <!-- Comment ID: {{ reply.comment_id }} [{{ reply.contact_nick_name }}] -->
                  <li class="media">
                    {% if parameter.gravatar and configuration.gravatar.comment.reply.enabled %}
                      <div class="pull-left">
                        <img class="media-object" src="{{ reply.gravatar|raw }}" width="{{ configuration.gravatar.comment.reply.size }}" height="{{ configuration.gravatar.comment.reply.size }}" alt="{{ reply.contact_nick_name }}" title="{{ reply.contact_nick_name }}" />
                      </div>
                    {% endif %}
                    <div class="media-body">
                      {{ reply.comment_content }}
                      {% if parameter.rating and configuration.rating.comment.reply.enabled %}
                        <div class="rating-container pull-left">
                          <div class="rating-stars rating_{{ reply.rating.identifier_id }}" 
                               data-average="{{ reply.rating.average }}" 
                               data-id="{{ reply.rating.identifier_id }}" 
                               title="{{ 'Votes: %count% - Average: %average%'|trans({'%count%':reply.rating.count,'%average%':reply.rating.average|number_format(2,'DECIMAL_SEPARATOR'|trans,'THOUSAND_SEPARATOR'|trans)}) }}"></div>
                        </div>
                      {% endif %}
                      <div class="nick-name">
                        {% if reply.contact_url|length > 0 %}<a href="{{ reply.contact_url }}" target="_blank">{{ reply.contact_nick_name }}</a>{% else %}{{ reply.contact_nick_name }}{% endif %} - {{ reply.comment_timestamp|date('DATETIME_FORMAT'|trans) }}
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            
            <div class="reply-to">
              <i class="fa fa-comments-o"></i>&nbsp;<a href="{{ FRAMEWORK_URL ~ '/collection/comments/reply/id/' ~ comment.main.comment_id ~ '?pid=' ~ basic.pid }}">{{ 'Reply to this comment'|trans }}</a>&nbsp;
              <i class="fa fa-comment"></i>&nbsp;<a href="javascript:createNewComment();">{{ 'Create a new comment'|trans }}</a>
            </div>
            
          </div>{# /media-object comment #}
        </li>{# /comment #}
        
      {% endfor %}
    </ul>
  </div>{# /thread #}  
  
  <div class="comment-form" id="comment-form">
    {{ basic.alert }}
    
    {% form_theme form '@phpManufaktur/CommandCollection/Template/Comments/default/form.fields.horizontal.twig' %}
    
    <form class="form-horizontal" role="form" action="{{ FRAMEWORK_URL ~ '/collection/comments/submit?pid=' ~ basic.pid }}" method="post" {{ form_enctype(form) }}>
      {{ form_errors(form) }}
      {# hidden fields #}
      {{ form_row(form.comment_id) }}
      {{ form_row(form.identifier_id) }}
      {{ form_row(form.contact_id) }}
      {{ form_row(form.comment_parent) }}      
      {{ form_row(form._token) }}
      
      {% if form.comment_parent.vars.value > 0 %}
        <h3>{{ 'You are replying to the comment <i>%headline%</i>'|trans({'%headline%':form.comment_headline.vars.value}) }}</h3>
        <input type="hidden" name="{{ form.comment_headline.vars.full_name }}" id="{{ form.comment_headline.vars.id }}" value="{{ form.comment_headline.vars.value }}" />
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <a href="javascript:jumpToComment('comment_id_{{ form.comment_parent.vars.value }}')"><i class="icon-comments"></i> {{ 'jump to this comment'|trans }}</a>
          </div>
        </div>
      {% else %}
        <h3>{{ 'Your comment'|trans }}</h3>
        {{ form_row(form.comment_headline) }}
      {% endif %}
        
      <div class="form-group">
        {{ form_label(form.comment_content) }}
        <div class="col-sm-10">
          {{ CKEditor(
                      form.comment_content.vars.id,
                      form.comment_content.vars.full_name,
                      form.comment_content.vars.value,
                      '100%', '150px',
                      MANUFAKTUR_URL ~ '/CommandCollection/Template/Comments/default/ckeditor.config.js'
                ) }}          
        </div>
      </div>  
        
      {{ form_row(form.contact_nick_name) }}
      {{ form_row(form.contact_email) }}
      {{ form_row(form.contact_url) }}
      {{ form_row(form.comment_update_info) }}  
      
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2 text-muted small">
          {% if app.translator.locale == 'de' %}
            {# german language #}
            <p>Ihre E-Mail Adresse wird nicht veröffentlicht. Wenn Sie uns die URL Ihrer Website bzw. Homepage mitteilen, setzen wir automatisch einen Backlink für Sie!</p>
            {% if parameter.gravatar %}
              <p>Falls Ihre E-Mail Adresse bei <a href="http://de.gravatar.com/" target="_blank">Gravatar</a> registriert ist, zeigen wir Ihren Avatar neben Ihrem Kommentar an.</p>
            {% endif %}
            <p>Die Benachrichtigung bei neuen Kommentaren bezieht sich ausschließlich auf diese Seite und kann jederzeit wieder abbestellt werden.</p>
          {% else %}
            {# english language #}
            <p>Your email address will not published. If you submit the URL of your website, we will create a backlink for you.</p>
            {% if parameter.gravatar %}
              <p>If your email address is registered at <a href="http://gravatar.com/" target="_blank">Gravatar</a>, we will show your avatar beside your comment.</p>
            {% endif %}
            <p>The notification of new comments is restricted to this page and can cancelled at any time.</p>
          {% endif %}
        </div>
      </div>
        
      {% if parameter.captcha and reCaptchaIsActive() %}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ reCaptcha() }}
          </div>
        </div>
      {% endif %}  
        
      {#{ form_rest(form) }#}
        
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-default" type="submit">{{ 'Submit'|trans }}</button>
        </div>
      </div>  
    </form>
  </div>
  
{% endblock content %}
{% block footer_jquery %}
  {{ parent() }}
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/default/jquery/jRating.jquery.js"></script>
{% endblock footer_jquery %}
{% block footer %}
  {% if parameter.captcha and reCaptchaIsActive() %}
    {% set iframe_add_height = 280 %}
  {% else %}
    {% set iframe_add_height = 140 %}
  {% endif %}
  {{ parent() }} 
  {% if parameter.rating %}
    <script type="text/javascript">
      if (typeof 'jQuery' !== 'undefined') {
        $(document).ready(function() {        
          {% for comment in thread %}
            {% if configuration.rating.comment.main.enabled %}  
              $(".rating_{{ comment.main.rating.identifier_id }}").jRating({
                bigStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/default/css/icons/stars.png',
                smallStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/default/css/icons/small.png',
                phpPath: '{{ FRAMEWORK_URL }}/collection/rating/response',
                type: '{{ configuration.rating.type }}',
                length : {{ configuration.rating.length }},
                step: {{ configuration.rating.step }},
                rateMax: {{ configuration.rating.rate_max }},
                showRateInfo: {% if configuration.rating.show_rate_info %}true{% else %}false{% endif %},
                {% if comment.main.rating.is_disabled %}isDisabled: true,{% endif %}
              });
            {% endif %}
            {% if configuration.rating.comment.reply.enabled %}
              {% for reply in comment.sub %}
                $(".rating_{{ reply.rating.identifier_id }}").jRating({
                  bigStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/default/css/icons/stars.png',
                  smallStarsPath: '{{ MANUFAKTUR_URL }}/CommandCollection/Template/Rating/default/css/icons/small.png',
                  phpPath: '{{ FRAMEWORK_URL }}/collection/rating/response',
                  type:'{{ configuration.rating.type }}',
                  length : {{ configuration.rating.length }},
                  step: {{ configuration.rating.step }},
                  rateMax: {{ configuration.rating.rate_max }},
                  showRateInfo: {% if configuration.rating.show_rate_info %}true{% else %}false{% endif %},
                  {% if reply.rating.is_disabled %}isDisabled: true,{% endif %}
                });
              {% endfor %}
            {% endif %}
          {% endfor %}
        });
      }
    </script>
  {% endif %}
{% endblock footer %}